@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans+Condensed:300');

:root {
    --darkblue: #112D32;
    --medblue: #254E58;
    --lightblue: #88BDBC;
    --orange: #B7695C;
    --lightbrown: #6E6658;
}

body {
  margin: 0;
}

header {
  background-color: var(--orange);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  z-index: 1;
  width: 100%;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #06425C;
  text-align: center;
  color: #F2F2F2;
  padding: 1em 0;
}

h1 {
  text-align: center;
  color: var(--darkblue);
  font-family: 'Lora', serif;
}

h3 {
  text-align: center;
  font-family: 'Lora', serif;
  
}

button {
    margin: 0px auto;
    display: block;
    padding: 5px 10px;
    border: none;
    background: var(--darkblue);
    color: white;

}

.links {
  color: #F2F2F2;
}

.header {
  background-color: var(--orange);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  width: 100%;
}
.header-company{
  vertical-align: middle;
  color: #F2F2F2;
  font-size: 1.6em;
}

.header-text {
  vertical-align: middle;
  color: #F2F2F2;
  font-size: 1.2em;
}

.header-login {
  vertical-align: middle;
  color: #F2F2F2;
  font-size: 1.2em;
  background: #254E58;
  padding: 0.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-text {
    color: #F2F2F2;
    align-content: center;
}

.dropdown-links {
  color: black;
  font-size: 16px;
}


.page {
    margin-left: 3em;
    margin-right: 3em;
    padding: 6em 0px;
    height: 100%;
    align-content: center;
}

.title {
    margin: 0 0 0 1.5%;   
    font-size: 200%;
    color: var(--lightblue);
}

.item {
    flex: 33%;
    padding: 20px;
    margin: 0 0.5em 4em 0.5em;
    background: var(--lightblue);
    color: var(--darkblue);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.boxes {
  font-size: 0.9em;
  text-align:justify;
  padding: 0.5em 0 0 2em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.1em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 5em 0;
}

@media screen and (max-width: 750px) {
  .item {
    flex: 50%;
  }
}

@media screen and (max-width: 600px) {
  .item {
    flex-direction: column;
  }
}

.intro {
 text-align: center; 
 margin: 3em 0 3em 0;
 color: var(--darkblue);
 font-size: 1.5em;
 font-family: 'Open Sans Condensed', sans-serif;
}

.home-pic {
  width: 100%;
  height: 40%;
  margin: 0 0 3em 0;
  align-content: center;
}

.signup-button {
  font-family: 'Lora', serif;
  background: red;
}

.page-login {
  margin-left: 3em;
  margin-right: 3em;
  padding: 6em 0px;
  height: 100%;
  align-content: center;

}

.login-form {
  margin-top: 10em;
  margin-left: 27%;
  padding: 3em 2em 2em 2em;
  background: var(--lightblue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.login-title {
  margin-bottom: 1em;
}

.listbox {
    height: 200em;
    padding: 200em;
    margin: 200em;
}

.login-btn {
  margin-top: 2em;
  background: var(--darkblue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.signup-login {
  margin-top: 2em;
  text-align: center;
}

.header-img {
    vertical-align: middle;
    padding: 0 1em 0 0;
    height: 50px;
    width: 80px;
}

.btn { 
  font-family: 'Lora', serif;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%
}

.page-title {
  margin: 1em 0 1.5em 0; 
}

.cardTitle {
  font-size: 2em;
  text-align: center;
}

.contained {
  text-align: center;
}

.edit-card {
  margin: 0 0 1.5em 0;
}

.classTitle {
  font-size: 1.8em;
}

.volunteer-form {
  margin-top: 2em;
  padding: 3em 2em 2em 2em;
  background: var(--lightblue);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.vol-btn {
  padding: 1em 0;
  margin: 1em 37%;
  width: 25%;
  font-size: 1.2em;
  background: var(--darkblue);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.intro-donate {
  text-align: center; 
  margin: 0.5em 0 3em 0;
  color: var(--darkblue);
  font-size: 1.5em;
  font-family: 'Open Sans Condensed', sans-serif;
 }

.donate-btn {
  padding: 1em 0;
  margin: 1em 37%;
  width: 25%;
  font-size: 1.3em;
  background: var(--darkblue);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.radioGroup {
  font-size: 2em;
}


#modal {
  top: 30%;
}




