:root {
    --darkblue: #112D32;
    --medblue: #254E58;
    --lightblue: #88BDBC;
    --orange: #B7695C;
    --lightbrown: #6E6658;
}

body {
  margin: 0;
}

img {
    vertical-align: middle;
    padding: 0 1em 0 0;
    height: 50px;
    width: 80px;
}


footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #06425C;
  text-align: center;
  color: #F2F2F2;
  padding: 1em 0;
}

h1 {
  text-align: center;
  color: var(--darkblue);
}

h3 {
  text-align: center;
}


button {
    margin: 0px auto;
    display: block;
    padding: 5px 10px;
    border: none;
    background: var(--darkblue);
    color: white;
}

.links {
  color: #F2F2F2;
}

.header {
  background-color: var(--orange);
  position: fixed;
  width: 100%;
}
.header-company{
  vertical-align: middle;
  color: #F2F2F2;
  font-size: 1.5em;
}

.header-text {
  color: #F2F2F2;
}

.footer-text {
    color: #F2F2F2;
    align-content: center;
}

.dropdown-links {
  color: black;
  font-size: 16px;
}


.page {
    margin-left: 3em;
    margin-right: 3em;
    padding: 6em 0px;
    height: 100%;
    align-content: center;
}

.title {
    margin: 0 0 0 1.5%;   
    font-size: 200%;
    color: var(--lightblue);
}

.item {
    flex: 25%;
    padding: 20px;
    margin: 0.5em 0.5em 0.5em 0.5em;
    background: var(--lightblue);
    color: var(--darkblue);
}

.boxes {
  font-size: 0.9em;
  text-align:justify;
  padding: 0.5em 0 0 2em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 5em 0;
}

/* @media screen and (max-width: 750px) {
  .grid {
    position: fixed;
    max-width: 18em;
  
    
  }
} */

@media screen and (max-width: 750px) {
  .item {
    flex: 50%;

  }
}

@media screen and (max-width: 600px) {
  .item {
    flex-direction: column;
  }
}

.intro {
 text-align: center; 
 margin: 3em 0 0 0;
 color: var(--darkblue);
}

.home-pic {
  width: 100%;
  height: 40%;
  margin: 0 0 3em 0;
  align-content: center;
}